*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background: #dadada;
}
.container {
    width: 80%;
    height: 80%;
    margin: 50px auto;
}
.img-feature {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 1s;
}
.main {
    height: 80%;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;

}
.list-image {
    width: 100%;
    height: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
}
.list-image div {
    flex: 1;
    padding: 5px;
    cursor: pointer;
}
.list-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.control {
    position: absolute;
    top: 50%;
    font-size: 50px;
    color: white;
    cursor: pointer;
    transform: translateY(-50%);
}
.prev {
    left: 10px;
}
.next {
    right: 10px;
}
.active {
    background: rgb(184, 46, 46);
}
@keyframes slideLeft {
    0%{
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideRight {
    0%{
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}