* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: serif;
    background: linear-gradient(45deg, rgb(223, 23, 83), rgb(23, 61, 196));
}
.btn-1 {
    padding: 15px 30px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 25px;
    background: transparent;
    border: 1px solid orange;
    color: white;
    position: relative;
}
.btn-1:hover {
    background-color: orange;
}
.modal{
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal__inner{
    width: 400px;
    position: relative;
    background: white;
    animation: show 0.3s linear;

}
.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(215, 72, 72);
    padding: 15px;
    color: white;
}
.modal__body {
    padding: 15px;
}
.modal__body h2 {
    color: rgb(215, 72, 72);
    padding: 10px;
}
.modal__footer {
    padding: 15px;
    text-align: right;
}
.modal__footer button {
    color: white;
    background: rgb(215, 72, 72);
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}
.hide {
    display: none;
}
@keyframes show {
    from {
        top: -200px;
        opacity: 0;
    }
    to {
        top:0;
        opacity: 1;
    }
}



