*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    /* background: linear-gradient(45deg, #7ac124, #2995ae); */
    background: #31cfd2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter{
    background: rgb(70, 84, 202);
    padding: 20px 20px;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    margin: 0 20px;
}
.counter h2{
    font-size: 50px;
}